 <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find-Your-Movie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/master.css">
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light" id="navbar">
        <a class="navbar-brand" href="/" style="padding-left:5px; font-size: 24px; margin:0;">Hook Up with Entertainment</a>
        <button style="padding:5px;"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02" >
          <form class="form form-inline my-2 my-lg-0" action="/results" method="get" id="formBlock">
            <input type="text" id="form" name="search" placeholder="Enter a Movie Name">
            <button class="btn btn-outline-success my-2 my-sm-0" id="button" type="submit">Search</button>
          </form>
      </div>
    </nav>
